# Data Wrangling Challenge
### Pull and manipulate the API data

The point of this exercise is to try data enrichment with data from external APIs. We are going to take data about car crashes in Monroe County, Indiana from 2003 to 2015 and try to figure out the weather during the accident and how many bars there are in the area. We will work with two different APIs during this challenge:

- Foursquare API
- Visual Crossing API

We will try to find correlations between the severity of crash and weather/number of bars in the area. To indicate the severity of a crash, we will use column `Injury Type`.

## Data

The data for this exercise can be found [here](https://drive.google.com/file/d/1_KF9oIJV8cB8i3ngA4JPOLWIE_ETE6CJ/view?usp=sharing).

Just run the cells below to get your data ready. Little help from us.

In [169]:
import pandas as pd
import os

In [173]:
data = pd.read_csv("monroe-county-crash-data2003-to-2015.csv", encoding="unicode_escape")
# ========================
# preparing data
data.dropna(subset=['Latitude', 'Longitude'], inplace=True)
# creation of variable with lon and lat together
data['ll'] = data['Latitude'].astype(str) + ',' + data['Longitude'].astype(str)
data = data[data['ll'] != '0.0,0.0']
print(data.shape)
data.head()

(2244, 23)

,X,Y,OBJECTID,MSRI_CODE,MSRI_DESCR,DATE_,TOWN_ID,ROUTE_DES,ROUTE,BEGIN_MM,...,TOWN,RT_TOWN,RT_NUM,DAY_,MONTH_,YEAR_,REP_AGEN,LOCATION,YEAR_INT,ll
4,-72.989424,42.833309,5,Deer,Deer,2004-04-16,209.0,VT 8,008,0.35,...,READSBORO,NaN,NaN,NaN,4.0,2004,AOT,NaN,2004,"42.83330874047745,-72.98942388725152"
5,-72.375495,43.581005,6,Deer RK AB,"Deer, RoadKill, Adult Buck",2005-03-22,1409.0,US 5,005,5.00,...,HARTLAND,NaN,NaN,NaN,3.0,2005,AOT,NaN,2005,"43.581005107295645,-72.37549549789222"
6,-72.840257,43.235023,7,Lg Bird,"Large Bird (hawk, owl, turkey, waterfowl)",2004-11-15,1310.0,VT 11,011,0.50,...,LONDONDERRY,NaN,NaN,NaN,11.0,2004,AOT,NaN,2004,"43.23502288333559,-72.8402568531839"
7,-72.830991,44.783002,8,Otter,Otter,2004-10-18,601.0,VT 36,036,1.00,...,BAKERSFIELD,NaN,NaN,NaN,10.0,2004,AOT,NaN,2004,"44.78300220380285,-72.83099079061695"
9,-72.514595,44.242323,10,Beaver,Beaver,2005-04-22,1207.0,US 2,002,0.19,...,EAST MONTPEL,NaN,NaN,NaN,4.0,2005,AOT,NaN,2005,"44.24232301744294,-72.51459452575021"

# Foursquare API

Foursquare API documentation is [here](https://developer.foursquare.com/)

1. Start a foursquare application and get your keys.
2. For each crash, create the function **get_venues** that will pull bars in the radius of 5km around the crash

#### example
`get_venues('48.146394, 17.107969')`

3. Find a relationship (if there is any) between number of bars in the area and severity of the crash.

HINTs: 
- check out python package "foursquare" (no need to send HTTP requests directly with library `requests`)
- **categoryId** for bars and nightlife needs to be found in the [foursquare API documentation](https://developer.foursquare.com/docs/api-reference/venues/search/)

In [16]:
#set the keys
foursquare_id = os.environ[""]
foursquare_secret = os.environ[""]

# Visual Crossing API

Virtual Crossing API documentation is [here](https://www.visualcrossing.com/resources/documentation/)

1. Sign up for FREE api key if you haven't done that before.
2. For each crush, get the weather for the location and date.
3. Find a relationship between the weather and severity of the crash.

Hints:

* randomly sample only 250 or so (due to API limits), or pull weather only for smaller sample of crashes
* for sending HTTP requests check out "requests" library [here](http://docs.python-requests.org/en/master/)

In [193]:
import requests
import time
api_key = os.environ["<>"]